.header
{
  display: flex;
  background-color: #ef8823;
}
.title h1
{
  color: white

}
.item button
{
  background-color: #ef8823;
}
.flexer
{
  display:flex;
}
input[type="text"] {
    width: 30px;
    border: 0px;
    color: #ef8823
}
